build
devel
.catkin_workspace
.idea
envs/__pycache__
envs/*/__pycache__

.cproject
.project
.pydevproject
cmake_install.cmake
build/
bin/
msg_gen/
srv_gen/
data/
.vscode/
.idea/
*.pyc
*~
*.user
*.so
*.orig
log*/
*.pdf
*.bag
