<launch>
 <node pkg="img_env" type="img_env_node" name="img_env_env" output="screen" respawn="true">
  <param name="use_laser" value="false" />
  <param name="range_total" value="1000" />
  <param name="view_angle_begin" value="-0.523" />
  <param name="view_angle_end" value="0.523" />
  <param name="view_min_dist" value="0.0" />
  <param name="view_max_dist" value="3.5" />
  <param name="show_gui" value="true" />
  <param name="is_draw_step" value="true" />
  <param name="window_height" value="500" />
  <param name="step_draw" value="3" />
 </node>
</launch>
